{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">{{case.case_name}}</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Investigation</a></li>
								<li class="breadcrumb-item"><a href="#">{{case.case_name}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Files</h6>
                            <h2 class="text-end text-white"><i class="feather icon-file-text float-start"></i><span> 486</span></h2>
                            <p class="m-b-0">This Month<span class="float-end"> 351</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Hashes</h6>
                            <h2 class="text-end text-white"><i class="feather icon-cpu float-start"></i><span> 1641</span>
                            </h2>
                            <p class="m-b-0">This Month<span class="float-end"> 213</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total IP & URL</h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-wifi float-start"></i><span> 42,562</span></h2>
                            <p class="m-b-0">This Month<span class="float-end"> 5,032</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total PCAPs</h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-monitor float-start"></i><span> 9,562</span></h2>
                            <p class="m-b-0">This Month<span class="float-end"> 542</span></p>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
                <div class="col-md-9">
					<div class="card px-10">
						<div class="card-body">
							<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link text-uppercase active px-5" id="files-tab" data-bs-toggle="tab" href="#files" role="tab" aria-controls="home" aria-selected="true"><i class="feather icon-file-text m-r-5"></i> File</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-uppercase px-5" id="hashes-tab" data-bs-toggle="tab" href="#hashes" role="tab" aria-controls="profile" aria-selected="false"><i class="feather icon-cpu m-r-5"></i> Hash</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-uppercase px-5" id="url-tab" data-bs-toggle="tab" href="#urlip" role="tab" aria-controls="contact" aria-selected="false"><i class="feather icon-wifi m-r-5"></i> URL & IP</a>
								</li>
                                <li class="nav-item">
									<a class="nav-link text-uppercase px-5" id="pcap-tab" data-bs-toggle="tab" href="#pcap" role="tab" aria-controls="contact" aria-selected="false"><i class="feather icon-monitor m-r-5"></i> PCAP</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade active show" id="files" role="tabpanel" aria-labelledby="files-tab">
									<p class="mb-0">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
										Reprehenderit
										butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
										voluptate nisi qui.
									</p>
								</div>
								<div class="tab-pane fade" id="hashes" role="tabpanel" aria-labelledby="hashes-tab">
									<p class="mb-0">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
										loko
										farm-to-table
										craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
										Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson
										biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
								</div>
								<div class="tab-pane fade" id="urlip" role="tabpanel" aria-labelledby="url-tab">
									<p class="mb-0">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed
										craft beer,
										iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
										pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
								</div>
                                <div class="tab-pane fade" id="pcap" role="tabpanel" aria-labelledby="pcap-tab">
									<p class="mb-0">PCAP mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed
										craft beer,
										iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles
										pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="col-xl-3 col-md-6 mb-4">
					<h5>Anti-Malware Engines</h5>
					<hr>
					<div class="form-group">
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-1" checked="">
							<label for="switch-p-1" class="cr"></label>
						</div>
						<label>VirusTotal</label>
					</div>
					<div class="form-group">
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-2">
							<label for="switch-p-2" class="cr"></label>
						</div>
						<label>AnyRun</label>
					</div>
					<div class="form-group">
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-3">
							<label for="switch-p-3" class="cr"></label>
						</div>
						<label>Hybrid Analysis</label>
					</div>
					<div class="form-group">
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-4">
							<label for="switch-p-4" class="cr"></label>
						</div>
						<label>AlienVault OTX</label>
					</div>
					<div class="form-group">
						<div class="switch switch-primary d-inline m-r-10">
							<input type="checkbox" id="switch-p-5">
							<label for="switch-p-5" class="cr"></label>
						</div>
						<label>URLHaus & URLScan</label>
					</div>
				</div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
